<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시물 상세 내용 보기</title>
<link rel="stylesheet" href="/css/board.css">
<script>

	var myLikeCheck; 
   	var myDislikeCheck; 
   	var username;
   	
	window.onload = () =>{
	   	console.log('[[${session.username}]]');
		// 에러는 아닌데 parseInt로 묶으면 경고창도 안뜸
		likeCnt = parseInt('[[${view.likecnt}]]'); 
	   	dislikeCnt =  parseInt('[[${view.dislikecnt}]]'); 
	   	myLikeCheck = '[[${myLikeCheck}]]'; 
	   	myDislikeCheck = '[[${myDislikeCheck}]]'; 
	   	username = '[[${session.username}]]';
	   	like.innerHTML = likeCnt;
	   	dislike.innerHTML = dislikeCnt;
	   	
	   	if(myLikeCheck == "Y") document.querySelector('.likeClick').style.backgroundColor = '#00B9FF';
	   		else if(myDislikeCheck == "Y") document.querySelector('.dislikeClick').style.backgroundColor = '#00B9FF';
	   	
	   	if(myLikeCheck == "Y") myChoice.innerHTML = username + '님의 선택은 좋아요입니다.';
	   		else if(myDislikeCheck == "Y") myChoice.innerHTML = username + '님의 선택은 싫어요입니다.';
	   		else if(myLikeCheck == "N" && myDislikeCheck == "N") myChoice.innerHTML = username + '님은 아직 선택을 안 했네요';
	   	
	}
   	
	// 좋아요, 싫어요 제이쿼리 처리 함수 시작
	const likeView = () => { 
	    
	    if(myLikeCheck == "Y" && myDislikeCheck =="N") {
	        alert("좋아요를 취소합니다."); 
	        const checkCnt = 1;  //likeCnt --; --> 6개의 조건 중 1번 조건
	        myLikeCheck = "N";
	        sendDataToServer(myLikeCheck,myDislikeCheck,checkCnt); 
	        document.querySelector('.likeClick').style.backgroundColor = '#d2d2d2';
	    }else if(myLikeCheck == "N" && myDislikeCheck =="Y") {
	        alert("싫어요가 취소되고 좋아요가 등록됩니다.");
	        const checkCnt = 2; // likeCnt ++ , dislikeCnt --
	        myLikeCheck = "Y";
	        myDislikeCheck = "N";
	        sendDataToServer(myLikeCheck,myDislikeCheck,checkCnt);  
	        document.querySelector('.likeClick').style.backgroundColor = '#00B9FF';
	        document.querySelector('.dislikeClick').style.backgroundColor = '#d2d2d2';
	    } else if(myLikeCheck == "N" && myDislikeCheck =="N") {
	        alert("좋아요를 선택 했습니다.")
	    	const checkCnt = 3; //likeCnt ++
	        myLikeCheck = "Y";
	        sendDataToServer(myLikeCheck,myDislikeCheck,checkCnt);
	        document.querySelector('.likeClick').style.backgroundColor = '#00B9FF';
	    }
	    if(myLikeCheck == "Y") myChoice.innerHTML = username + "님의 선택은 좋아요입니다.";
	    	else if(myDislikeCheck == "Y") myChoice.innerHTML = username + "님의 선택은 싫어요입니다.";
	    	else if(myLikeCheck == "N" && myDislikeCheck == "N") myChoice.innerHTML = username + "님은 아직 선택을 안 했네요";
	}
	
	const disLikeView = () => {
	    
	    if(myDislikeCheck == "Y" && myLikeCheck =="N") {
	        alert("싫어요를 취소합니다."); 
	        const checkCnt = 4; // dislikeCnt --
	        myDislikeCheck = "N";
	        sendDataToServer(myLikeCheck,myDislikeCheck,checkCnt);
	        document.querySelector('.dislikeClick').style.backgroundColor = '#d2d2d2';
	    } else if(myDislikeCheck = "N" && myLikeCheck =="Y") {
	        alert("좋아요가 취소되고 싫어요가 등록됩니다.");
	        const checkCnt = 5; //likeCnt -- , dislikeCnt ++            
	        myLikeCheck = "N";            
	        myDislikeCheck = "Y";
	        sendDataToServer(myLikeCheck,myDislikeCheck,checkCnt);
	        document.querySelector('.likeClick').style.backgroundColor = '#d2d2d2';
	        document.querySelector('.dislikeClick').style.backgroundColor = '#00B9FF';
	    } else if(myDislikeCheck = "N" && myLikeCheck =="N") {
	        alert("싫어요를 선택했습니다.");
	    	const checkCnt = 6; //dislikeCnt ++
	        myDislikeCheck = "Y";
	        sendDataToServer(myLikeCheck,myDislikeCheck,checkCnt);
	        document.querySelector('.dislikeClick').style.backgroundColor = '#00B9FF';
	    }
	    if(myLikeCheck == "Y") myChoice.innerHTML = username + "님의 선택은 좋아요입니다.";
	    	else if(myDislikeCheck == "Y") myChoice.innerHTML = username + "님의 선택은 싫어요입니다.";
	    	else if(myLikeCheck == "N" && myDislikeCheck == "N") myChoice.innerHTML = username + "님은 아직 선택을 안 했네요";
	}
	
	const sendDataToServer = async (myLike, myDislike, checkCount) => {
	
	    const myLikeCheck = myLike;
	    const myDislikeCheck = myDislike;
	    const checkCnt = checkCount;
	    
	    const queryString = {"seqno": parseInt('[[${view.seqno}]]'),
	    		  "userid": '[[${session.userid}]]',
	    		"mylikecheck":myLikeCheck,"mydislikecheck":myDislikeCheck,"checkCnt":checkCnt};
	
		console.log(queryString);
		await fetch('/board/likeCheck', {
			
			method: 'POST',
			headers: {
				"content-type": "application/json"
			},
			body: JSON.stringify(queryString)			
		}).then((response) => response.json())
		  .then((data)=> {			  
			  like.innerHTML = data.likeCnt;
			  dislike.innerHTML = data.dislikeCnt;
       }).catch((error)=> {
    	   console.log("error = " + error);
       });	
		
	}
// 좋아요, 싫어요 제이쿼리 처리 함수 끝


	const deleteBoard = () => {
		if(confirm("정말로 삭제하시겠습니까?")) {
			const seqno = '[[${view.seqno}]]';
			document.location.href='/board/delete?seqno=' + seqno;
		}
	}
	
	// 댓글 처리 
	const replyRegister = async () => {
	
	const replycontent = document.querySelector('#replycontent');
	if(replycontent.value == '') {alert("댓글을 입력하세요."); replycontent.focus(); return false;}
	
	const data = {			
		replywriter: replywriter.value, 
		replycontent: replycontent.value,
		userid: userid.value,
		seqno: seqno.value			
	}
	
	await fetch('/board/reply?option=I', {
		method: 'POST',
		headers: {"content-type":"application/json"},
		body: JSON.stringify(data)		
	}).then((response) => response.json())
	  .then((data) => replyList(data))
	  .catch((error)=> {
		  console.log("error = " + error);
		  alert("시스템 장애로 댓글 등록이 실패했습니다.");
	});
	
	replycontent.value = '';
	
	}

	const replyList = (data) => {
		
		var session_userid = '[[${session.userid}]]';
		const jsonInfo = data;
		
		let replyList = document.querySelector('#replyList');
		replyList.innerHTML = '';
		
		var result = "";
		for(const i in jsonInfo){
			
			let elm = document.createElement('div'); //<div></div>
			elm.setAttribute("id", "s" + data[i].replyseqno); //<div id='s3'></div>
			elm.setAttribute("style", "font-size: 0.8em"); //<div id='s3' style='font-size: 0.8em'></div>
			
			let result = "";

			result += "작성자 : " + jsonInfo[i].replywriter;
							
			if(jsonInfo[i].userid == session_userid) {
				result += "[<a href=" + "'javascript:replyModify(" + jsonInfo[i].replyseqno + ")' style='cursor:pointer;'>수정</a> | " ;
				result += "<a href=" + "'javascript:replyDelete(" + jsonInfo[i].replyseqno + ")' style='cursor:pointer;'>삭제</a>]" ;
			}
			
			result += "&nbsp;&nbsp;" + jsonInfo[i].replyregdate
			result += "<div style='width:90%; height: auto; border-top: 1px solid gray; overflow: auto;'>";
			result += "<pre id='c" + jsonInfo[i].replyseqno + "'>" + jsonInfo[i].replycontent + "</pre></div>";
			result += "<br>";
			
			elm.innerHTML = result;
			replyList.appendChild(elm);
			
		}
	}

	const startupPage = async () => {
		const data = { seqno: "[[${view.seqno}]]"};
		
		await fetch('/board/reply?option=L', {
			method: 'POST',
			headers: {"content-type":"application/json"},
			body: JSON.stringify(data)		
		}).then((response) => response.json())
		  .then((data) => replyList(data))
		  .catch((error)=> {
			  console.log("error = " + error);
			  alert("시스템 장애로 페이지 로딩이 실패.");
		});
	}

	const replyDelete = async (replyseqno) => { 
		
		if(confirm("정말로 삭제하시겠습니까?") == true) {
			const data = { replyseqno: replyseqno, seqno: "[[${view.seqno}]]"};
			await fetch('/board/reply?option=D',{
				
				method: 'POST',
				headers: {
					"content-type": "application/json"
				},
				body: JSON.stringify(data)				
			}).then((response) => response.json())
			  .then((data) => replyList(data))
			  .catch((error) => {
				  console.log("error =" + error);
				  alert("서버 장애로 댓글 삭제가 실패했습니다.");
		   });
		
		}
	
	}

	const replyModify = (replyseqno) => {

		const modifyReplyContent = document.querySelector('#c' + replyseqno);
		
		var strReplyList = "작성자 : [[${session.userid}]]&nbsp;"
						+ "<input type='button' id='btn_replyModify' value='수정'>"
						+ "<input type='button' id='btn_replyModifyCancel' value='취소'>"
						+ "<input type='hidden' name='replyseqno' value='" + replyseqno + "'>"
						+ "<input type='hidden' name='seqno' value='[[${view.seqno}]]'>"
						+ "<input type='hidden' id='writer' name='replywriter' value='[[${session.username}]]'>"
						+ "<input type='hidden' id='uerid' name='userid' value='[[${session.userid}]]'><br>"
						+ "<textarea id='modify_replycontent' name='replycontent' cols='80' rows='5' maxlength='150' placeholder='글자수:150자 이내'>" + modifyReplyContent.innerHTML + "</textarea><br>";
		
		let elm = document.createElement('div');
		elm.innerHTML = strReplyList;
		
		let parentDiv = document.querySelector('#s' + replyseqno).parentNode;
		parentDiv.insertBefore(elm, document.querySelector('#s' + replyseqno));
		document.querySelector('#s' + replyseqno).style.display = 'none';

		const btnReplyModify = document.querySelector('#btn_replyModify');
		const btnReplyModifyCancel = document.querySelector('#btn_replyModifyCancel');
		
		btnReplyModify.addEventListener('click', async ()=> {
			
			const data = {
				replyseqno: replyseqno,
				replycontent: modify_replycontent.value
			};
			
			await fetch('/board/reply?option=U',{
				
				method: 'POST',
				headers: {
					"content-type": "application/json"
				},
				body: JSON.stringify(data)
			}).catch((error) => {
				console.log("error = " + error);
				alert("서버 장애로 댓글 수정이 실패했습니다.");
			});
			
			document.querySelector('#replyList').innerHTML = '';
			startupPage();				
			
		});
		
		btnReplyModifyCancel.addEventListener('click',()=> {
			if(confirm("정말로 취소하시겠습니까?") == true){
				document.querySelector('#replyList').innerHTML = '';
				startupPage();	
			}
		});
		
	}
		
	const replyCancel = () => { 
		if(confirm("정말로 취소 하시겠습니까?") == true) { 
			replycontent.value = ''; 
			replycontent.focus(); 
		}
	}

	
</script>
<style>

.likeClick, .dislikeClick {
    padding: 8px 8px;
    margin: 1px;
	text-align: center;	
	text-decoration: none;
	font-size:30px;
    border: solid 1px #a0a0a0;
    display: inline-block;
    background-color: #d2d2d2;
    border-radius: 50%
}
#like, #dislike {
	font-size: 30px
}
.likeForm {
	text-align: center;
	width: auto;
	height: auto;
	margin: auto;
}
.bottom_menu {
	margin-top: 20px;
}

.bottom_menu > a:link, .bottom_menu > a:visited {
	background-color: #FFA500;
	color: maroon;
	padding: 15px 25px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
}

.bottom_menu > a:hover, .bottom_menu > a:active {
	background-color: #1E90FF;
	text-decoration: none;
}

</style>
</head>

<body>

<script>
const userid = '[[${session.userid}]]';
if(userid == '')
	document.location.href='/user/login';
	startupPage();
</script>

<div>
	<img id="topBanner" src="/images/logo.jpg" title="서울기술교육센터">	
</div>

<div class="main">
	<h1>게시물 내용 보기</h1>
	<br>
	<div class="boardView">
		<div class="field">이름 : <span th:text="${view.writer}"></span></div>
		<div class="field">제목 : <span th:text="${view.title}"></span></div>
		<div class="field">날짜 : <span th:text="${view.regdate}"></span></div>
		<div class="content"><pre th:text="${view.content}"></pre></div>
		<div class="likeForm">
			<span id="like"></span>&nbsp;<a href="javascript:likeView()" id="likeClick" class="likeClick">😀</a>
			<a href="javascript:disLikeView()" id="disLikeClick" class="dislikeClick">😡</a>&nbsp;<span id="dislike"></span><br>
			<span id="myChoice" style="text-align:center; color:red"></span>
		</div>
		<br>
		
		<th:block th:if="${fileListView != null}">
			<th:block th:each="fileView : ${fileListView}">
				<div class="field">파일명 : <a th:href="@{/board/filedownload(fileseqno=${fileView.fileseqno})}" th:text="${fileView.org_filename}"></a> ( <span th:text="${fileView.filesize}"></span> Byte )</div>
			</th:block>
		</th:block>
		<th:block th:if="${#lists.isEmpty(fileListView)}">

			<div class="field">업로드된 파일이 없습니다.</div>
		</th:block>
	</div>

	<br>
	<div class="bottom_menu">
		<th:block th:if="${pre_seqno != 0}">
			&nbsp;&nbsp;<a th:href="@{'/board/view?seqno=' + ${pre_seqno} + '&page=' + ${page} + '&keyword=' + ${keyword}}">이전글▼</a>&nbsp;&nbsp;
		</th:block>
		<a th:href="@{'/board/list?page=' + ${page} + '&keyword=' + ${keyword}}">목록보기</a>&nbsp;&nbsp;
		<th:block th:if="${next_seqno != 0}">
			<a th:href="@{'/board/view?seqno=' + ${next_seqno} + '&page=' + ${page} + '&keyword=' + ${keyword}}">다음글▲</a>&nbsp;&nbsp;
		</th:block>
		<a href="/board/write">글 작성</a>&nbsp;&nbsp;
		<th:block th:if="${session.userid == view.userid}">
			<a th:href="@{'/board/modify?seqno=' + ${view.seqno} + '&page=' + ${page} + '&keyword=' + ${keyword}}">글 수정</a>&nbsp;&nbsp;
			<a href="javascript:deleteBoard()">글 삭제</a>
		</th:block>
	</div>	
	<br>
	<div class="replyDiv" style="width:60%; height:300px; margin:auto; text-align:left;">
		<p id="replyNotice">댓글을 작성해 주세요</p>
		<form id="replyForm" name="replyForm" method="POST"> 
			작성자 : <input type="text" id="replywriter" name="replywriter" th:value="${session.username}" readonly><br>
			<textarea id="replycontent" name="replycontent" cols="80" rows="5" maxlength="150" placeholder="글자수:150자 이내"></textarea><br>
			<input type="hidden" id="seqno" name="seqno" th:value="${view.seqno}">
			<input type="hidden" id="userid" name="userid" th:value="${session.userid}">
		</form>
		<input type="button" id="btn_reply" value="댓글등록" onclick="replyRegister()">
		<input type="button" id="btn_cancel" value="취소" onclick="replyCancel()">
		<hr>
		
		<div id="replyList" style="width:100%; height:600px; overflow:auto;"></div>		
	</div>

	
</div>
<br><br>
</body>
</html>